<h1><%= @apartment.name %></h1>

<h2 class='subtitle'>Roommates:</h2>
  <% @roommates.each do |roommate| %>
  <p><%= roommate.first_name %></p>
  <% end %>

<button><%= link_to "Invite Roommates", new_user_path %></button>


<div class="expenses">
  <h2 class='subtitle'>This Month's Expenses:</h2>
  <button><%= link_to "New expense (+)", new_expense_path(current_user) %></button>

<div id="table">
  <% @roommates.each do |roommate| %>
    <%= render partial: "expenses/table", locals: { table: @expenses }%>
  <% end %>
</div>
  <br>
</div>

<button>Settle Up Method Here</button>
<button>Clean Slate Button Here</button>

<div class ="center">
<%= image_tag("bills.jpg", class: "image") %>
</div>

<br>
